<!-- Menu listant les catégories -->

<div class="relative">
    <div class="dropdown active">
      <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Catégories
      </a>
    
      <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
      
      </div>
    </div> 
    
</div>